extends layout

block head
    script(type='text/javascript')
        | window.cnt = #{count}

    script(type='text/javscript' , src="/javascripts/board-list.js")
block body
    div.container(ng-controller="listCtrl")

    table
        thead 
            tr 
                th seq  
                th title
                th write
                th date
                th view count
        tbody
            if(data)
                each content in data
                    tr
                        td= content.Seq
                        td= content.Title
                        td= content.Writer
                        td= content.Data
                        td= content.View_count